{% extends 'base.html' %}
{% block cuerpo %}
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
&nbsp;
 
    <div class ="container">
      <h3>Calificación de Productos</h3>
      <!-- <div class="container" style="padding: 10%;padding-top: 1%;padding-bottom: 0%;">Para el futuro de la marca, la fundación “garantizará el respeto de los valores y principios: la gestión de las actividades de forma ética con integridad moral y corrección, la prioridad del desarrollo continuo a nivel global del nombre Armani, estrategia cuidadosa de diversificación de la empresa y sus marcas, manteniendo consistencia en el diseño de productos, imagen y comunicación ”.</div>  -->
    </div>

    &nbsp;

    <div class="grid-container ms-5 ps-5">
        <div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Producto 1 - ID: XXXXX:</label>
                <textarea class="form-control" id="formcomentario" placeholder="Comentario" rows="2" disabled>Comment 1</textarea>
              </div>
        </div>

        <div class="grid-item; col-12;" style="text-align: center">
            <span class="fa fa-star" style="cursor: pointer; color:orange"></span>
            <span class="fa fa-star" style="cursor: pointer; color:orange"></span>
            <span class="fa fa-star" style="cursor: pointer;color:orange"></span>
            <span class="fa fa-star" style="cursor: pointer; color:orange"></span>
            <span class="fa fa-star" style="cursor: pointer;color:orange"></span>
            <br>
            <button class="btn btn-secondary">Calificar</button>
        </div>


        <div class="grid-item">
            <div class="grid-container">

                <div class="mb-3">
                    <div class="d-grid gap-2" style="padding-right: 5%;">
                        <button type="submit" class="btn btn-secondary">Editar</button>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-secondary">Eliminar</button>
                    </div>
                </div>
                
            </div>
        </div>

        <div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Producto 2 - ID: XXXXX:</label>
                <textarea class="form-control" id="formcomentario" placeholder="Comentario" rows="2" disabled>Comment 2</textarea>
              </div>
        </div>

        <div class="grid-item; col-12;" style="text-align: center;">
            <span class="fa fa-star" style="cursor: pointer; color:orange"></span>
            <span class="fa fa-star" style="cursor: pointer;color:orange"></span>
            <span class="fa fa-star" style="cursor: pointer;color:orange"></span>
            <span class="fa fa-star" style="cursor: pointer;"></span>
            <span class="fa fa-star" style="cursor: pointer;"></span>
            <br>
            <button class="btn btn-secondary">Calificar</button>
        </div>

        <div class="grid-item">
            <div class="grid-container">

                <div class="mb-3">
                    <div class="d-grid gap-2" style="padding-right: 5%;">
                        <button type="submit" class="btn btn-secondary">Editar</button>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-secondary">Eliminar</button>
                    </div>
                </div>
                
            </div>
        </div>

        <div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Producto 3 - ID: XXXXX:</label>
                <textarea class="form-control" id="formcomentario" placeholder="Comentario" rows="2" disabled>Comment 3</textarea>
              </div>
        </div>

        <div class="grid-item; col-12;" style="text-align: center;">
            <span class="fa fa-star" style="cursor: pointer;"></span>
            <span class="fa fa-star" style="cursor: pointer;"></span>
            <span class="fa fa-star" style="cursor: pointer;"></span>
            <span class="fa fa-star" style="cursor: pointer;"></span>
            <span class="fa fa-star" style="cursor: pointer;"></span>
            <br>
            <button class="btn btn-secondary">Calificar</button>
        </div>

        <div class="grid-item">
            <div class="grid-container">

                <div class="mb-3">
                    <div class="d-grid gap-2" style="padding-right: 5%;">
                        <button type="submit" class="btn btn-secondary">Editar</button>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-secondary">Eliminar</button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>


{% endblock %}