{% extends 'base.html' %}

{% block cuerpo %}

  <!-- <section class="contenedorexterno"> -->
    <div class = "contact-acercade">
        <h5>
            <blockquote class="text-lg-start"><strong>Acerca de Nosotros.</strong></blockquote>
        </h5>
        <h7>
            <blockquote class="text-lg-start">Para el futuro de la marca, la fundación “garantizará el respeto de los valores y principios: la gestión de las actividades de forma ética con integridad moral y corrección, la prioridad del desarrollo continuo a nivel global del nombre Armani, estrategia cuidadosa de diversificación de la empresa y sus marcas, manteniendo consistencia en el diseño de productos, imagen y comunicación ”.</blockquote>
        </h7>           
    </div>
  <!-- </section> -->

    <div class = "contenedorprueba">
        <img class="banner" src="{{ url_for('static', filename='img/banner2.jpg') }}">
    </div>
{% endblock %}
