{% extends 'base.html' %}
{% block cuerpo %}
<div style="background-image:url('/static/img/wallcont.jpg'); background-size: 1550px;">
&nbsp;
 
<div class = "container">
  <h3>Acerca de Nosotros</h3>
  <div class="container" style="padding: 10%;padding-top: 1%;padding-bottom: 0%;">Para el futuro de la marca, la fundación “garantizará el respeto de los valores y principios: la gestión de las actividades de forma ética con integridad moral y corrección, la prioridad del desarrollo continuo a nivel global del nombre Armani, estrategia cuidadosa de diversificación de la empresa y sus marcas, manteniendo consistencia en el diseño de productos, imagen y comunicación ”.</div> 
</div>

&nbsp;

<div class="container" style="padding: 10%;padding-top: 3%;padding-bottom: 3%;">
  <div class="text-center"><h3>Contáctenos</h3></div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Nombre:</label>
      <input type="email" class="form-control" id="formnombre" placeholder="Nombre">
    </div>

    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">E-Mail:</label>
      <input type="email" class="form-control" id="formemail" placeholder="E-Mail">
    </div>

    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Asunto:</label>
      <input type="email" class="form-control" id="formasunto" placeholder="...">
    </div>

    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Mensaje:</label>
      <textarea class="form-control" id="formmensaje" rows="3"></textarea>
    </div>

    <div class="d-grid gap-2" style= "padding-top: 3%">
      <button type="submit" class="btn btn-secondary">ENVIAR</button>
    </div>
</div>

&nbsp;

<div class = "contenedorprueba">
  <img class="banner" src="{{ url_for('static', filename='img/banner2.jpg') }}">
</div>

&nbsp;

{% endblock %}
