{% extends 'base.html' %}
{% block cuerpo %}
  <section class="contenedorexterno">
    <div class = "frase">
      <h2>
        <span class="text-center">El Sitio E-Commerce #1 en el Mundo</span>
        <br><span class="text-center">Todos nuestros productos fueron diseñados por los mejores de Europa</span>
      </h2>
    </div>
  </section>
  <div class="container-fluid">
  <div class = "spacer">
  </div>
      <h3>Productos Principales</h3>
      <div class="card-group">
        <div class = "flexing">
          <div class="card">
            <img src="{{ url_for('static', filename='img/camisa1.jpg') }}" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-title">Product1</p>
                  <h5 class="card-text">$50</h5>
              </div>
          </div>
          <div class="card">
            <img src="{{ url_for('static', filename='img/camisa2.jpg') }}" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-title">Product2</p>
                  <h5 class="card-text">$60</h5>
              </div>
          </div>
          <div class="card">
            <img src="{{ url_for('static', filename='img/camiseta3.jpg') }}" class="card-img-top" alt="...">
            <div class="card-body">
            <p class="card-title">Product 3</p>
            <h5 class="card-text">$30</h5>
            </div>
          </div>
        <div class="card">
          <img src="{{ url_for('static', filename='img/camiseta2.jpg') }}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-title">Product 4</p>
            <h5 class="card-text">$45</h5>
          </div>
        </div>
      </div>
    </div>
    </div>
    </section>
      <div class = "contenedorprueba">
          <img class="banner" src="{{ url_for('static', filename='img/banner2.jpg') }}">
      </div>
{% endblock %}