{% extends 'base.html' %}
{% block cuerpo %}
<section class="contenedorexterno">
  <div class = "frase">
    <h1>
      <span class="text-center">El Sitio E-Commerce #1 en el Mundo</span>
    </h1>
      <h3>
        <br><span class="text-center">Todos nuestros productos fueron diseñados por los mejores de Europa</span>
      </h3>    
  </div>
</section>
<div class="container text-center">
  <div class = "spacer">
  </div>
  <h3 style="padding-bottom: 5%;">Productos Principales</h3>
  <div class="card-group">
  {% for producto in misproductos %}
    <div class="card">
      <a class = "text-muted" style="text-decoration: none;" href="{{url_for('main.detalleproducto',type=producto.id, variable =producto.id )}}">
      <img src={{ producto.img }} class="card-img-top">
      <div class="card-body">
        <a><p class="card-title">{{ producto.nombre }}</p></a>
        <h5 class="card-text">{{ "$%.0f"|format(producto.precio|float) }}</h5>
        <a href="{{url_for('main.agregaralista', variable =producto.id)}}" class="little car"><img class = "img-fluid" style= "width:10%; padding:1%" src= "{{ url_for('static', filename='img/wishlist.png') }}" title = "Agregar a Lista"></a>
        <a href="{{url_for('main.cart')}}" class="little car"><img class = "img-fluid" style= "width:10%; padding:1%" src= "{{ url_for('static', filename='img/add-to-cart.png') }}" title = "Agregar a Carrito"></a>
      </div>
      </a>
    </div>
  {% endfor %}
  </div>
</div>
    <div style="padding-top: 5%;">
        <img class="banner" src="{{ url_for('static', filename='img/banner2.jpg') }}">
    </div>
{% endblock %}