{% extends 'base.html' %}

{% block cuerpo %}
 <section class="contenedorexterno">
  <div class = "frase">
    <h2>
      <span class="text-center">Productos</span>
      <br><span class="text-center">Todos nuestras prendas son diseñadas con la mejor calidad</span>
    </h2>
  </div>
</section>
<div class="container text-center">
  <div class = "spacer">
  </div>
  <h3>Camisas</h3>
    <div class="card-group">
        <div class="card">
          <img src="{{ url_for('static', filename='img/cam1.jpg')}}" class="card-img-top">
            <div class="card-body">
              <p class="card-title">Product1</p>
                <h5 class="card-text">$50</h5>
            </div>
        </div>
        <div class="card">
          <img src="{{ url_for('static', filename='img/cam2.jpg')}}" class="card-img-top">
            <div class="card-body">
              <p class="card-title">Product2</p>
                <h5 class="card-text">$60</h5>
            </div>
        </div>
        <div class="card">
          <img src="{{ url_for('static', filename='img/cam3.jpg')}}" class="card-img-top">
          <div class="card-body">
          <p class="card-title">Product 3</p>
          <h5 class="card-text">$30</h5>
          </div>
        </div>
      <div class="card">
        <img src="{{ url_for('static', filename='img/cam4.jpg')}}" class="card-img-top">
        <div class="card-body">
          <p class="card-title">Product 4</p>
          <h5 class="card-text">$45</h5>
        </div>
      </div>
    </div>
  </div>
  </div>
  </section>
  <div class="container text-center">
    <div class = "spacer">
    </div>
    <h3>Camisas Mangas Largas</h3>
    <div class="card-group">
        <div class="card">
          <img src="{{ url_for('static', filename='img/buz1.jpg')}}" class="card-img-top">
            <div class="card-body">
              <p class="card-title">Product1</p>
                <h5 class="card-text">$50</h5>
            </div>
        </div>
        <div class="card">
          <img src="{{ url_for('static', filename='img/buz2.jpg')}}" class="card-img-top">
            <div class="card-body">
              <p class="card-title">Product2</p>
                <h5 class="card-text">$60</h5>
            </div>
        </div>
        <div class="card">
          <img src="{{ url_for('static', filename='img/buz3.jpg')}}" class="card-img-top">
          <div class="card-body">
          <p class="card-title">Product 3</p>
          <h5 class="card-text">$30</h5>
          </div>
        </div>
      <div class="card">
        <img src="{{ url_for('static', filename='img/buz4.jpg')}}" class="card-img-top">
        <div class="card-body">
          <p class="card-title">Product 4</p>
          <h5 class="card-text">$45</h5>
        </div>
      </div>
    </div>
  </div>
  </div>
  </section>
  <div class="container text-center">
    <div class = "spacer">
    </div>
    <h3>Relojes</h3>
    <div class="card-group">
        <div class="card">
          <img src="{{ url_for('static', filename='img/sho1.png')}}" class="card-img-top">
            <div class="card-body">
              <p class="card-title">Product1</p>
                <h5 class="card-text">$50</h5>
            </div>
        </div>
        <div class="card">
          <img src="{{ url_for('static', filename='img/sho2.png')}}" class="card-img-top">
            <div class="card-body">
              <p class="card-title">Product2</p>
                <h5 class="card-text">$60</h5>
            </div>
        </div>
        <div class="card">
          <img src="{{ url_for('static', filename='img/sho3.png')}}" class="card-img-top">
          <div class="card-body">
          <p class="card-title">Product 3</p>
          <h5 class="card-text">$30</h5>
          </div>
        </div>
      <div class="card">
        <img src="{{ url_for('static', filename='img/sho4.png')}}" class="card-img-top">
        <div class="card-body">
          <p class="card-title">Product 4</p>
          <h5 class="card-text">$45</h5>
        </div>
      </div>
    </div>
  </div>
  </div>
  </section>
  <div class="container text-center">
    <div class = "spacer">
    </div>
    <h3>Zapatos</h3>
    <div class="card-group">
        <div class="card">
          <img src="{{ url_for('static', filename='img/ten1.jpg')}}" class="card-img-top">
            <div class="card-body">
              <p class="card-title">Product1</p>
                <h5 class="card-text">$50</h5>
            </div>
        </div>
        <div class="card">
          <img src="{{ url_for('static', filename='img/ten2.jpg')}}" class="card-img-top">
            <div class="card-body">
              <p class="card-title">Product2</p>
                <h5 class="card-text">$60</h5>
            </div>
        </div>
        <div class="card">
          <img src="{{ url_for('static', filename='img/ten3.jpg')}}" class="card-img-top">
          <div class="card-body">
          <p class="card-title">Product 3</p>
          <h5 class="card-text">$30</h5>
          </div>
        </div>
      <div class="card">
        <img src="{{ url_for('static', filename='img/ten4.jpg')}}" class="card-img-top">
        <div class="card-body">
          <p class="card-title">Product 4</p>
          <h5 class="card-text">$45</h5>
        </div>
      </div>
    </div>
  </div>
  </div>
  </section>
  &emsp;
    <div class = "contenedorprueba">
        <img class="banner" src="{{ url_for('static', filename='img/banner2.jpg')}}">
    </div>
    {% endblock %}