{% extends 'base.html' %}

{% block cuerpo %}
<section class="contenedorexterno">
  <div class = "frase">
    <h1>
      <span class="text-center">Productos</span>
      &emsp;
    </h1>
    <h3>
      <br><span class="text-center">Todos nuestras prendas son diseñadas con la mejor calidad</span>
    </h3>
  </div>
</section>
<div class="container text-center">
  <div class = "spacer">
  </div>
  {% for tipo in productosportipo %}
  <h3>{{ tipo[0].tipo }}</h3>
  <div class="card-group">
    {% for producto in tipo %}
    <div class="card">
      <a class = "text-muted" style="text-decoration: none;" href="{{url_for('main.detalleproducto',type=producto.id, variable =producto.id )}}">
      <img src={{ producto.img }} class="card-img-top">
      <div class="card-body">
        <p class="card-title">{{ producto.nombre }}</p>
        <h5 class="card-text">{{ "$%.0f"|format(producto.precio|float) }}</h5>
        <a href="{{url_for('main.agregaralista', variable =producto.id)}}" class="little car"><img class = "img-fluid" style= "width:10%; padding:1%" src= "{{ url_for('static', filename='img/wishlist.png') }}" title = "Agregar a Lista"></a>
        <a href="{{url_for('main.cart')}}" class="little car"><img class = "img-fluid" style= "width:10%; padding:1%" src= "{{ url_for('static', filename='img/add-to-cart.png') }}" title = "Agregar a Carrito"></a>
      </div>
    </a>

    </div>
    {% endfor %}     
  </div>
  {% endfor %}
</div>
&emsp;
<div>
    <img class="banner" src="{{ url_for('static', filename='img/banner2.jpg')}}">
</div>
{% endblock %}