{% extends 'base.html' %}

{% block cuerpo %}

 <!--------------------------------CONTENIDO DE DESCRIPCION------------------------------->       	
 
 <div class="container mt-5 mb-5">
    <div class="card">
        <div class="row g-0">
            <div class="col-md-5 border-end">
                <div class="justify-content-center">
                    <div class="main_image"> <img src={{ product.img }} id="main_product_image" width="500"> </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="p-3 right-side">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3>{{ product.nombre }}</h3> 
                        <!-- <span class="heart"><i class='bx bx-heart'></i></span> -->
                    </div>
                    <div class="mt-2 pr-3 content">
                        <p>{{ product.tipo }}</p>
                    </div>
                    <h3 style="text-align: left;">{{ "$%.0f"|format(product.precio|float) }}</h3>
                    
                    <!-- <div class="mt-5"> <span class="fw-bold">Color</span>
                        <div class="colors">
                            <ul id="marker">
                                <li id="marker-1"></li>
                                <li id="marker-2"></li>
                                <li id="marker-3"></li>
                                <li id="marker-4"></li>
                                <li id="marker-5"></li>
                            </ul>
                        </div>
                    </div> -->
                    <div class="buttons d-flex flex-row mt-5 gap-3"> <a href="{{url_for('main.agregaralista', variable =product.id)}}" class="btn btn-secondary">Agregar a Lista</a> <a href="{{url_for('main.agregaracarro', variable =product.id)}}" class="btn btn-secondary">Agregar a Carro</a> </div>
                    <!-- <div class="search-option"> <i class='bx bx-search-alt-2 first-search'></i>
                        <div class="inputs"> <input type="text" name=""> </div> <i class='bx bx-share-alt share'></i>
                    </div> -->
                </div>
                <div class="ratings d-flex flex-row align-items-center" style="padding: 5%;">
                  <!-- <div class="d-flex flex-row"> -->

                      <div class="container-ratingstar" style="background-color:gainsboro">
                          <div class="post">
                            <div class="text">Thanks for rating us!</div>
                            <div class="edit">EDIT</div>
                          </div>
                          <div class="star-widget">
                            <input type="radio" name="rate" id="rate-5">
                            <label for="rate-5" class="fas fa-star"></label>
                            <input type="radio" name="rate" id="rate-4">
                            <label for="rate-4" class="fas fa-star"></label>
                            <input type="radio" name="rate" id="rate-3">
                            <label for="rate-3" class="fas fa-star"></label>
                            <input type="radio" name="rate" id="rate-2">
                            <label for="rate-2" class="fas fa-star"></label>
                            <input type="radio" name="rate" id="rate-1">
                            <label for="rate-1" class="fas fa-star"></label>
                            <form action="#">
                              <header></header>
                              <div class="textarea">
                                <textarea cols="30" placeholder="Describe your experience.."></textarea>
                              </div>
                              <div class="btn">
                                <button type="submit">Calificar</button>
                              </div>
                            </form>
                          </div>
                        </div>

                        <script>
                          const btn = document.querySelector("button");
                          const post = document.querySelector(".post");
                          const widget = document.querySelector(".star-widget");
                          const editBtn = document.querySelector(".edit");
                          btn.onclick = ()=>{
                            widget.style.display = "none";
                            post.style.display = "block";
                            editBtn.onclick = ()=>{
                              widget.style.display = "block";
                              post.style.display = "none";
                            }
                            return false;
                          }
                        </script>

                  <!-- </div> -->
              </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}