<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/shopping.css') }}">

  </head>
  <body style="background-image:url('/static/img/wallcart.jpg'); background-size: 1550px;">
    <div class="cardini">
        <div class="row">
            <div class="col-md-8 cartier">
                <div class="titletan">
                    <div class="row">
                        <div class="col">
                            <h4><b>Carrito de Compras</b></h4>
                        </div>
                        <div class="col align-self-center text-right text-muted">{{carrito|length}} items</div>
                    </div>
                </div>
                {% for item in carrito %}
                <div class="row border-top border-bottom">
                    <div class="row main align-items-center">
                        <div class="col-2"><img class="img-fluid" src={{ item.producto.img }}></div>
                        <div class="col">
                            <div class="row text-muted">{{ item.producto.tipo }}</div>
                            <div class="row">{{ item.producto.nombre }}</div>
                        </div>
                        <!--<div class="col"> <a href="#">-</a><a href="#" class="border">{{ item.cantidad }}</a><a href="#">+</a> </div>-->
                        <div class="col align-self-center">
                            <div class="row justify-content-center text-muted">Cantidad</div>
                            <div class="row justify-content-center">{{ item.cantidad }}</div>
                        </div>
                        <div class="col">&dollar; {{ item.subtotal }} 
                            <a href= "{{url_for('main.eliminarcarro', variable = item.producto.id)}}"><img class = "img-fluid" style= "width:10%; padding:1%" src= "{{ url_for('static', filename='img/cancel.png') }}" title = "Borrar Item"></div></a>
                    </div>
                </div>
                {% endfor %}
                <a class="back-to-shop text-muted" style= "cursor: pointer;" href= "{{url_for('main.product')}}">&leftarrow;Back to shop</a>
            </div>
            <div class="col-md-4 summary">
                <div>
                    <h5><b>Summary</b></h5>
                </div>
                <hr>
                <div class="row">
                    <div class="col" style="padding-left:0;">ITEMS 3</div>
                    <div class="col text-right">{{ "$%.0f"|format(total|float)}}</div>
                </div>
                <form>
                    <p>SHIPPING</p> <select>
                        <option class="text-muted">Standard-Delivery- &dollar;10000</option>
                    </select>
                </form>
                <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                    <div class="col">TOTAL PRICE</div>
                    <div class="col text-right">{{ "$%.0f"|format(totaldomi|float)}}</div>
                </div><a href="{{url_for('main.comprar', variable = totaldomi)}}" class="btn btn-secondary">COMPRAR</a>
            </div>
        </div>
    </div>
</body>
</html>